#fer{
	margin:auto;
	width:1000px;
	height:20px;
	background-color:black;        
	font-family:algerian, Geneva, sans-serif;	
}
ul,ol{
	list-style:none";
}
.nav li a{
	background-color:black;
	color:white;
	text-decoration:none;
	padding:2px 30px;
	display:block;
        
}
.nav li a:hover{
	background-color:gray;
	color:blue;
        font-size:30px;
}
.nav > li{
	float:left;
}
.nav li ul{
	display:none;
	position:absolute;
	min-width:40px;
}
.nav li:hover > ul{
	display:block;		
}
.nav li ul li{
	position:relative;
}
